In [1]:
import pandas as pd

In [2]:
excel_estudiante = pd.read_excel(r"C:\Users\07cas\OneDrive\Documentos\GitHub\Inteligencia_Artificial_Jupyter\Estudiantes.xlsx")

In [3]:
excel_estudiante

,ID_Estudiante,Nombres,Apellidos,Correo,Telefono
0,1,ESTEFANIA,AROCAS PASADAS,afri@altecom.es,938205580
1,2,QUERALT,VISO GILABERT,agat@hotmail.com,936545115
2,3,JOAN,AYALA FERRERAS,joan@gmail.com,938202768
3,4,JOAN,BAEZ TEJADO,albatros@wandoo.es,938727844
4,5,MARC,BASTARDES SOTO,albert@intercom.es,938350521
5,6,JOSEP,ANGUERA VILAFRANCA,alin@intercom.es,938755645
6,7,ESTHER,PASCUAL ALOY,amres@hotmail.com,936520547
7,8,LAURA,VALLÉS GIRVENT,anbel@altecom.es,936565656
8,9,RAQUEL,RAYA GARCIA,antia@minorisa.es,936752156
9,10,JOAN,ANDREU CRUZ,bador@hotmail.com,938300025
10,11,MARIA,BARALDÉS COMAS,balla@altecom.es,938385567
11,12,ADRIÀ,BERENGUERAS CULLERÉS,barbilla@hotmail.com,937809812
12,13,GERARD,LÓPEZ GARCIA,bego@minorisa.es,936520741
13,14,ELIOT,ARNAU MORENO,bogart@terra.es,938202456
14,15,JORDI,RAYA GAVILAN,bond@terra.es,938754554
15,16,LLUÍS,ZAMBUDIO FIGULS,luis@gmai.com,936875544
16,17,LAURA,BIDAULT CULLERÉS,cabbb@gmail.com,935880712
17,18,JORDI,BIOSCA FONTANET,jordi@gmail.com,936875255
18,19,DOUNYA,ZAFRA FIGULS,doun@gmail.com,936542775
19,20,JULIO,ALEU ICART,cangur@intercom.es,938773545
20,21,ANDREU,BADIA TORNÉ,andre@gmail.com,938200022
21,22,RAMON,MORALES GESE,morales@gmail.com,936512545
22,23,OMAR,BLANCO FONTANET,caparranas@altecom.es,937785655
23,24,ARAN,ALVAREZ FERNÁNDEZ,aran@gmail.com,938300385
24,25,GEMMA,GARCIA ALMOGUERA,garcia@gmail.com,936520471
25,26,IVAN,LIBORI FIGUERAS,carretero@intercom.es,936012445
26,27,DAVID,BIDAULT PUEYO,cela@altecom.es,934500611
27,28,XAVIER,BENITEZ JOSE,coco@hotmail.com,937885544
28,29,MARIO,PASCUAL FLORES,conejo@minorisa.es,936512105
29,30,JESUS,AYALA TORNÉ,corcel@altecom.es,938202200
30,31,GEMMA,LISTAN FIGUERAS,gemma@gmail.com,939965585
31,32,SILVIA,RASERO GAVILAN,curie@minorisa.es,936541235
32,33,ALBERT,ARNALOT PUIG,dalí@wandoo.es,938204054
33,34,MARIA,MOLINER GARRIDO,moliner@gmail.com,936584541
34,35,PAMELA,GALOBART GARCIA,dolça@cidet.com,934111475
35,36,BERTA,LÓPEZ GARRIGASSAIT,dorada@intercom.es,935687444
36,37,MIREIA,SÁNCHEZ GÓMEZ,elisa@altecom.es,936658711
37,38,GEMMA,ALAVEDRA SUNYÉ,encarna@hotmail.com,938773941
38,39,MARIA ISABEL,ALIGUÉ BONVEHÍ,entesa@altecom.es,938305295
39,40,TONI,MAS FRANCH,toni@gmail.com,936524446
40,41,ALEJANDRO,ALOY COMPTE,alejo@gmail.com,938305551
41,42,JOAN MARTÍ,ASENSIO VEGA,et@altecom.es,938206097
42,43,INGRID,BIDAULT PÉREZ,ingrid@gmail.com,934500644
43,44,OLIVER,ALOY CODINACHS,oliver@gmail.com,938305594
44,45,SANDRA,ALTIMIRAS ARMENTEROS,experta@wandoo.es,938300422
45,46,JORDI,BELMONTE SÁNCHEZ,f5@wandoo.es,938350511
46,47,MARC,BAJONA GARCIA,jordi@gmail.com,938727589
47,48,JORDINA,AGUILAR RODRIGUEZ,jordd@gmail.com,938208488
48,49,MARIA JOSÉ,BARRIGA SOTO,fina@hotmail.com,938320587
49,50,RAQUEL,AVILA MASJUAN,fuego@altecom.es,938203095

In [4]:
excel_carrera = pd.read_excel(r"C:\Users\07cas\OneDrive\Documentos\GitHub\Inteligencia_Artificial_Jupyter\Carrera.xlsx")

In [5]:
excel_carrera

   ID_Carrera          Nombre_Carrera
0        1542             Informatica
1        5478                Finanzas
2        8754  Ciencias y Humanidades
3        7899                   Salud

In [6]:
json_notas = pd.read_json(r"C:\Users\07cas\OneDrive\Documentos\GitHub\Inteligencia_Artificial_Jupyter\Notas.json")

In [7]:
json_notas

    ID_Estudiante  ID_Carrera  Nota_final
1               1        1542          52
2               2        5478          89
3               3        7899          78
4               4        7899          65
5               5        5478          48
6               6        8754          95
7               7        1542          68
8               8        1542          78
9               9        7899          80
10             10        5478          86
11             11        1542          70
12             12        5478          69
13             13        7899          72
14             14        8754          73
15             15        1542          82
16             16        8754          45
17             17        5478          49
18             18        5478          50
19             19        1542          78
20             20        8754          95
21             21        1542          99
22             22        7899          89
23             23        7899          77
24             24        5478          75
25             25        8754          66
26             26        1542          78
27             27        1542          89
28             28        8754          87
29             29        5478          67
30             30        7899          75
31             31        1542          72
32             32        7899          71
33             33        5478          86
34             34        8754          82
35             35        7899          80
36             36        1542          79
37             37        5478          85
38             38        8754          93
39             39        1542          91
40             40        1542          70
41             41        7899          93
42             42        8754          74
43             43        5478          94
44             44        5478          82
45             45        1542          95
46             46        7899          97
47             47        8754          99
48             48        5478          68
49             49        1542          66
50             50        1542          75